/*Responsiveness for Mobile*/
@media screen and (max-width:768px) {
    .footer-container {
        min-height: 10vh;
        display: flex;
        flex-direction: column;
    }

    .proj_card {
        width: 100%;
    }

    .content_container {
        flex-direction: column;
        height: 100vh;

    }

    .selfie {
        width: 90%;
    }

    .About_Text h1 {
        margin-top: 50px;
    }

    .meow {
        width: 90%;
    }

    .accordion_container {
        width: 90%;
    }
}

/*Responsiveness for Tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .content_container {
        flex-direction: column;
        height: 100vh;
    }

    .selfie {
        width: 70%;
    }

    .About_Text h1 {
        margin-top: 50px;
    }

    .meow {
        width: 70%;
    }

    .accordion_container {
        width: 90%;
    }
}