body {
    background-color: #e3e3e3;
}

::selection {
    background-color: #3f0909;
    color: white;
}

html {
    scroll-behavior: smooth;
}

/*Nav Bar*/
.Nav_Bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #525266;
    list-style-type: none;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: 0.5s;
}

nav li a:hover {
    background-color: #b5af9e;
}

.Logo {
    display: block;
    margin: auto;
    width: 150px;
    padding: 20px;
}

.LogoBar {
    background-color:#e3e3e3;
}

/*Hero Container*/
.hero_container {
    display: flex;
    min-height: 76vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px 0 50px;
}

.Hello {
    float: left;
    position: relative;
    animation: fadeInUp 2s;
}

.Hello p {
    font-size: clamp(10px, 5vw, 3rem); 
    padding-bottom: 2rem;
}

.Name {
    padding-bottom: 50px;
}

.hero_container h1 {
    font-size: clamp(1rem, 10vw, 5rem); 
    color: #525266;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(30%);
        opacity: 0;
      }
    100% {
        transform: translateY(0%);
        opacity: 1;
      }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*For the two Images under the hero banner*/
.imagecontainer {
    display: flex;
    padding: 1rem 0 1rem 0;
    background-color: #b5af9e;
}

.imagecontainer img {
    width: 50%;
}

/*Content*/

.content_container {
    display: flex;
    column-gap: 50px;
    width: 80vw;
    min-height: 76vh;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

.About_Text {
    color: #525266;
    animation: fadeInUp 2s;
}

.About_Text p {
    font-size: clamp(10px, 5vw, 1rem); 
    padding-bottom: 2rem;
}

.About_Text h1 {
    font-size: 60px;
    padding-bottom: 2rem;
}

.button {
    background-color: #3f0909;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(1rem, 1vw, 1rem);
    transition-duration: 0.5s;
}

.button:hover {
    background-color: #b5af9e;
    transition: 0.5s;
}

.selfie {
    display: flex;
    border: 5px solid #525266;
    border-radius: 0.5rem;
    width: 40%;
    animation: fadeInUp 2s;
}

/*Accordion Container*/

.bak {
    display: flex;
    background-color: #b5af9e;
}

.meow {
    display: block;
    margin: 10px auto 10px auto;
    width: 50%;
    border: 5px solid #525266;
    border-radius: 0.5rem;
}

.accordion_container {
    display: flex;
    align-items: center;
    margin: 4rem auto 4rem auto;
    width: 70%;
    flex-direction: column;
    min-height: 20vh;
}

.accordion_container h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 4vh;
}

.accordion_container p {
    padding: 1rem;
}
  
.accordion {
    color: white;
    font-size: 1rem;
    background-color: #525266;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;
}
  
.accordion:hover {
    background-color: #3f0909;
}
  
.panel {
    padding: 0 18px;
    background-color: #e3e3e3;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-out;
}

/*Project Cards*/
.proj_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    word-wrap: break-word;
    gap: 2rem;
    padding-bottom: 50px;
}

.card {
    padding: 1.5rem;
    border: 5px solid #525266;
    background-color: white;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 35rem;
    animation: fadeInUp 2s;
}

.card_title {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: clamp(1rem, 10vw, 5rem); 
}

.projectimg {
    border-radius: 0.25rem;
    height: auto;
    width: 100%;
}

.subheader {
    font-size: 30px;
    padding-bottom: 1rem;
}

.descrip {
    padding: 1rem;
}

/*Footer*/
.footer-container {
    background-color: #525266;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
}

.footer-links a {
    text-decoration: none;
    color:white;
    padding: 0 10px;
}

.footer-links a:hover {
    color: #3f0909;
    transition: 0.5s;
}

.footer-links ul {
    display: flex;
    margin: 0; 
    padding: 0; 
    list-style-type: none;
}

.cc {
    font-family: "Lexend", sans-serif;
    color: #525266;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 1rem;
}
